<header class="header-top">
    <!-- Encabezado PRINCIPAL-->
    <div class="top">
        <a href="/">
            <img id="logo" title="ecommerce" src="/img/logo.png" alt="Logo de batman">
        </a>
        <h1 hidden>Mi ecommerce</h1>
        
        <form id="search" aria-label="search" action="/">
            <input type="text">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="cart">
            <a href="#cart">
                <i class="fa-solid fa-cart-shopping"></i>

            </a>
        </div>
        
        
        
        <div class="menu-bars">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <div class="header-bottom">
        <div class="menu-bars">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav>
            <!-- Lista desordenada -->
            <ul>
                <li class="nav-item">
                    <a href="/about-us">About us</a>
                </li>

                <li class="nav-item">
                    <a href="/contact">Contact</a>

                </li>

            </ul>
        </nav>

        <nav>
            <!-- Lista desordenada -->
            <ul class="list">
                <!-- <li>
                    <a href="#product">Product</a>
                </li> -->

                <li>
                    <a href="#">Crea tu cuenta</a>
                </li>

                <li>
                    <a href="#">Inicia Sesion</a>

                </li>


                <!-- <li>
                    <a href="https://www.google.com/" target="_blank">Ir a google</a>

                </li> -->

            </ul>
        </nav>


    </div>


</header>