<meta charset="UTF-8"> <!-- Codificacion del archivo -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> <%= title %> </title>
<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
<link rel="stylesheet" href="css/styles.css">

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap" rel="stylesheet">